<a href="https://colab.research.google.com/github/jim1n17/11223/blob/main/Untitled18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:

abc = '1,2,3,4,,5'
ddong =  abc.split(',')
print(ddong)
print(ddong[2])

['1', '2', '3', '4', '', '5']
3

In [8]:
num = int(input())
if num>=0:
 while num <= 10:
  print(num)
  num = num + 1

10
10

In [9]:
a=int(input())
for k in range(1,a,5):
  print(k)

30
1
6
11
16
21
26